<div class="midle-container">
  <app-header></app-header>
  <main>
    <!-- There should be <router-outlet> ↓↓↓ -->
    <app-article-img-top-left></app-article-img-top-left>
    <app-article-img-top-left-single-header></app-article-img-top-left-single-header>
    <app-article-img-top-middle></app-article-img-top-middle>
    <app-article-img-bottom-right></app-article-img-bottom-right>
    <app-article-img-bottom-right-single-header></app-article-img-bottom-right-single-header>
  </main>
  <app-pagination></app-pagination>
</div>
